{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{% block pageTitle %} {% endblock %}</title>


<link rel="stylesheet" href="{% static 'TWP4/css/style.css' %}">
</head>
 <body>




<nav class="navbar">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">TWP</a>
        <ul class="navbar-menu">
            <li><a href="{% url 'home' %}">О проекте</a></li>
            <li><a href="{% url 'journals' %}">Журналы</a></li>
            <li><a href="{% url 'templates' %}">Задания</a></li>
            <li><a href="{% url 'works' %}">Работы</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'userPage' %}">{{ user.first_name }}  {{ user.last_name }}</a></li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'login' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
 

{% block mainContent %} 


<div id="wrapper">

    <div id="bars" class="row">
        <div id="sidebar-left">
            <div class="panel">
                <div class="panel-header">{% block leftPanelHeader %} {% endblock %}</div>
                {% block leftPanelContent %} {% endblock %}
            </div>
        </div>
        <div id="middle">
            <div class="panel">
                <div class="panel-header">{% block midPanelHeader %} {% endblock %}</div>
                {% block midPanelContent %} {% endblock %}
            </div>
        </div>
        <div id="sidebar-right">
            <div class="panel">
                <div class="panel-header">{% block rightPanelHeader %} {% endblock %}</div>
                {% block rightPanelContent %} {% endblock %}
            </div>
        </div>
    </div>
    <div id="footer">
        {% block footerContent %} {% endblock %}
    </div>
</div>
{% endblock %}


<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% block scripts %} {% endblock scripts %}
<script src= "{% static 'TWP4/js/all.min.js' %}"></script> <!-- Nerdamer -->;

 </body>
</html>