{% extends 'TWP4/base.html' %}
{% load static %}



{% block leftPanelHeader %} Список работ {% endblock %}


{% block leftPanelContent %} 
<div id="subjectsList">
    <ul>
        <span v-if="!allWorks">Здесь появится список работ!</span>
        <li v-for = '(work) in allWorks' v-on:click = 'openWork(work.id)'> 
            <span v-html = 'work.name'></span> 
        </li>
    </ul>
</div>
{% endblock %}




{% block midPanelHeader %} Управление  Р А Б О Т А М И {% endblock %}


{% block midPanelContent %} 


<div id="revision" v-if="revision">
    <button class="btn-del" v-on:click = "revision = !revision">X</button><hr>
    <div id="noWork" v-if="!curentWork.id">Здесь появятся данные для проверки или результаты если выбрать работу</div>
    <div id="workRevision" v-else>
        <ul>
            <li v-for = '(chekItem, idx) in workCheckList'>
                <span class="fio" v-html="chekItem.name"></span> <span class="fio" v-html="chekItem.surname"></span> 

                <div id="inputAnswer" v-if="!chekItem.passed">
                <ol >
                    <li v-for = 'task in chekItem.answers' class="li-inline">
                        <hr><span class="ask" v-html="task.ask"></span> <br>
                        <input class="answerInput" v-on:input = "workPropEdit" type="text" placeholder="Введите ответ"  size="10" v-bind:id = 'task.id' v-bind:name = 'chekItem.studentId'>
                    </li>
                </ol>
                <button class="btn-add" v-on:click = "sendAnswers(chekItem.studentId)">Завершить тестирование</button> 
                </div>

                <div id="inputAnswer" v-else>
                    <ol >
                        <li v-for = 'task in chekItem.answers' class="li-inline">
                            <hr><span class="ask" v-html="task.ask"></span> <br>
                            Ответ:<span v-if = "parseInt(task.answer,10) == parseInt(task.rightanswer, 10)" class="right-answer" v-html="task.answer"></span>
                            <span v-else class="wrong-answer" v-html="task.answer"></span> 
                            <br>Правильный ответ: <span v-html="task.rightanswer"></span>
                        </li>
                    </ol>
                </div>

            </li>
        </ul>
    </div>
</div>


<div  class="row" id = "WorkEditor">

    <div id="createWork" v-if="!curentWork.id">
        <p><input type="text" id="workName" placeholder="Введите название работы"  minlength="50" size="90" v-on:input = "workPropEdit" v-bind:value = 'curentWork.name'></p>
        <p>
            <label for="workDate">Выберите дату начала работы:</label>
            <input type="datetime-local" id="startdate" name="meeting-time" v-on:input = "workPropEdit" value="2023-06-12T19:30">
        </p>

        <p>
            <label for="workDate">Выберите дату окончания работы:</label>
            <input type="datetime-local" id="finishdate" name="meeting-time" v-on:input = "workPropEdit" value="2023-06-12T19:30">
        </p>

        <p>
            <select name="workGroup" id="workGroup" v-on:input = "workPropEdit">
                <option v-for = '(group) in groups':value="group.id" v-html = 'group.name'></option>
                <option disabled selected>Выберите группу</option>
            </select>
        </p>
        <p>
            <select name="workTemplate" id="workTemplate" v-on:input = "workPropEdit">
                <option v-for = '(template) in templates':value="template.id" v-html = 'template.name' ></option>
                <option disabled selected>Выберите шаблон</option>
            </select>
        </p>
        <hr>
        <button class="btn-add" v-on:click = "addNewWork">Создать новую работу</button> 
    </div>

    <div id="existingWork" v-else>
        <p><input type="text" id="workName" placeholder="Введите название работы"  minlength="50" size="90" v-on:input = "workPropEdit" v-bind:value = 'curentWork.name'></p>

        <p>
            <label for="workDate">Дата начала работы:</label>
            <input type="datetime-local" id="startdate" name="startdate" v-on:input = "workPropEdit" v-bind:value = 'curentWork.startdate'>
        </p>

        <p>
            <label for="workDate">Дата окончания работы:</label>
            <input type="datetime-local" id="finishdate" name="finishdate" v-on:input = "workPropEdit" v-bind:value = 'curentWork.finishdate'>
        </p>

        <p>Группа: <span v-html = 'curentWork.group.name'></span> </p>
        <p>Шаблон: <span v-html = 'curentWork.template.name'></span></p>
        <hr>
        <button class="btn-add" v-on:click = "">Save changes</button>  <button class="btn-add" v-on:click = "makeTeX(curentWork.id)">Make LaTeX file</button> 
        <button class="btn-add" v-on:click = "checkWork">Give answers</button> <button class="btn-del" v-on:click = "deleteWork(curentWork.id)">Delete work</button>
    </div>

</div>


{% endblock %}





{% block rightPanelHeader %} Запланированные работы {% endblock %}

{% block rightPanelContent %}  

{% endblock %}


{% block scripts %} <script src="{% static 'TWP4/js/works.js' %}"></script> {% endblock scripts %}
